apiVersion: apps/v1
kind: Deployment
metadata:
  name: otel-collector
  namespace: telemetry
  labels:
    app.kubernetes.io/name: otel-collector
    app.kubernetes.io/component: telemetry
    app.kubernetes.io/part-of: observability
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: otel-collector
  template:
    metadata:
      labels:
        app.kubernetes.io/name: otel-collector
        app.kubernetes.io/component: telemetry
        app.kubernetes.io/part-of: observability
    spec:
      serviceAccountName: otel-collector
      containers:
        - name: otel-collector
          image: otel/opentelemetry-collector-contrib:0.89.0
          imagePullPolicy: IfNotPresent
          args:
            - "--config=/etc/otel/collector.yaml"
          ports:
            - name: otlp-grpc
              containerPort: 4317
            - name: otlp-http
              containerPort: 4318
            - name: metrics
              containerPort: 8889
          readinessProbe:
            httpGet:
              path: /
              port: 13133
          livenessProbe:
            httpGet:
              path: /
              port: 13133
          volumeMounts:
            - mountPath: /etc/otel
              name: config
          env:
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: "service.namespace=telemetry"
      volumes:
        - name: config
          configMap:
            name: otel-collector-config
            items:
              - key: collector.yaml
                path: collector.yaml
